.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border: 1px solid black;
  background-color: white;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__body {
  flex-flow: row;
  height: 75%;
  margin: 1em;
}

.modal__text {
  flex-flow: column;
  height: 90%;
  overflow: auto;
}

.modal__header {
  flex-flow: row nowrap;
  flex-basis: 100%;
  width: 100%;
  justify-content: right;
}

.modal__x {
  flex-flow: column;
  justify-self: right;
  float: right;
  color: black;
  font-weight: 300;
  font-family: Arial, sans-serif;
}

.modal__footer {
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-basis: 100%;
  width: 100%;
}

.modal__button {
  flex-flow: column;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
}
